<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReverseProxyInboundApi" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://103.207.1.92:4010/api/{R:1}" logRewrittenUrl="true" />
        </rule>
        <rule name="ReverseProxyInboundSocketIo" stopProcessing="true">
          <match url="^socket\.io/(.*)" />
          <action type="Rewrite" url="http://103.207.1.92:4010/socket.io/{R:1}" logRewrittenUrl="true" />
          <serverVariables>
            <set name="HTTP_UPGRADE" value="{HTTP_UPGRADE}" />
            <set name="HTTP_CONNECTION" value="{HTTP_CONNECTION}" />
          </serverVariables>
        </rule>
      </rules>
    </rewrite>
    <proxy enabled="true" preserveHostHeader="true" reverseRewriteHostInResponseHeaders="false" />
    <webSocket enabled="true" />
  </system.webServer>
</configuration>
